<header>
    <nav>
        <a href ="/">My Library</a>
        <ul>
            <li>
                <a href="/authors">All Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add an Author</a>
            </li>
            <li>
                <a href="/delete">Delete an Author</a>
            </li>
            <li>
                <a href="/books">All Books</a>
            </li>
            <li>
                <a href="/books/new">Add a book</a>
            </li>
    </nav>
</header>