<header>
    <nav>
        <a href ="/">My Library</a>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add an Author</a>
            </li>
            <li>
                <a href="/delete">Delete an Author</a>
            </li>
    </nav>
</header>