<header>
    <nav class="header-nav">
        <a class="header-title" href ="/">My Library</a>
        <ul>
            <li class="header-link">
                <a href="/authors">All Authors</a>
            </li>
            <li class="header-link">
                <a href="/authors/new">Add an Author</a>
            </li>
            <li class="header-link">
                <a href="/delete">Delete an Author</a>
            </li>
            <li class="header-link">
                <a href="/books">All Books</a>
            </li>
            <li>
                <a href="/books/new">Add a book</a>
            </li>
        </ul>   
    </nav>
</header>